:root {
  --background-color: #faf9ea;
  --input-background-color: #ffffff;
  --text-color: #000000;

  --button-background-color: #049c7c;
  --button-color: #ffffff;
}
[data-theme="dark"] {
  --background-color: #000000;
  --input-background-color: #000000;
  --text-color: rgb(250, 249, 234);
  --button-background-color: #444444;
  --button-color: #ffffff;
}
