.settings {
  width: fit-content;
}
.settings-secondary {
  align-items: start;
  margin: 2em;
}
.settings-secondary label {
  display: flex;
}
.settings-key {
  font-size: 1.2em;
}
.settings-main {
  flex-direction: column;
  font-size: 2em;
}
