.settings {
  gap: 1em;
  width: fit-content;
}
.settings-row {
  align-items: start;
}
.settings-key {
  align-items: start;
  justify-content: start;
}
.settings-value {
  padding-left: 3em;
  align-items: start;
  justify-content: start;
}
.settings-value label {
  font-size: 0.7em;
  display: flex;
  align-items: center;
}
@keyframes fillArc {
  from {
    stroke-dashoffset: 565.48; /* Hidden */
  }
  to {
    stroke-dashoffset: 0; /* Fully visible */
  }
}
